/**
 * Styles for Layout UI Component.
 *
 * @file layout.module.css
 * @description Styles for Layout UI Component.
 */

.layout-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}
