/**
 * Styles for AddItem UI Component.
 *
 * @file add-item.module.css
 * @description Styles for AddItem UI Component.
 */

.add-item {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.add-input {
	width: 100%;
	border: 1px solid var(--dark-accent);
	border-radius: 8px;
	padding: 16px;
	margin: 8px;
	z-index: 0;
}

.add-button {
	margin: 8px;
	background-color: var(--light-accent);
	z-index: 0;
}

.add-button:hover {
	background-color: var(--primary-accent);
}

.add-button::after {
	content: '';
	display: flex;
	width: 16px;
	height: 16px;
	background-image: url('../../public/icons/check.svg');
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}
