/**
 * Styles for Button UI Component.
 *
 * @file Button.module.css
 * @description Styles for Button UI Component.
 */

.generic-button {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
	display: inline-flex;
	align-items: center;
}

.generic-button:disabled {
    background-color: #ccc; /* Example: grey background */
    cursor: not-allowed;    /* Example: not-allowed cursor */
    opacity: 0.6;           /* Example: reduced opacity */
}