/**
 * Styles for Button UI Component.
 *
 * @file button.module.css
 * @description Styles for Button UI Component.
 */

.generic-button {
	border: none;
	border-radius: 8px;
	padding: 8px 16px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	font-size: 0;
}

.generic-button:disabled {
	background-color: var(--disabled-accent);
	cursor: not-allowed; /* Cursor is not allowed. */
	opacity: 0.6; /* Reduce the opacity to 0.6 */
}
