/**
 * Styles for Dialog UI Component.
 *
 * @file Dialog.module.css
 * @description Styles for Dialog UI Component.
 */

.parent-container {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
    position: absolute;
    z-index: 100;
}
  
.center-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 150;
}
  
.dialog {
    width: 25vw;
    height: fit-content;
    background: white;
    color: white;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 var(--dark-accent);
}
  
.dialog-header {
    background: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
  
.dialog-heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
  
.dialog-content {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
}

.dialog-input {
    width: fit-content;
    border: 1px solid var(--dark-accent);
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
}

.update-button {
    margin: 8px;
    padding: 16px;
    background-color: var(--light-accent);
}

.update-button:hover {
    background-color: var(--primary-accent);
    color: #fff;
}

.error-message {
    color: var(--danger-accent-hover);
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
}